@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@500;600;700;800;900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

/* #container {
  background-image: url('./assets/banner.png');
  background-size: cover;
  background-attachment: scroll;
  background-position-x: right;
} */

#header {
  background-image: url('./assets/banner.webp');
  background-position-x: center;
  /* height: max-content; */
  background-size: cover;
  background-attachment: scroll;
  position: sticky;
  width: 100%;
  min-width: 100vw;
  padding: 10vh auto;
  margin: 0;
  overflow-x: hidden;
  transition: .5s linear;
}